@charset "UTF-8";
@import 'normalaizer.css';


.conteiner-navbar{
    display: flex;
    position: fixed;
    align-items: center;
    border-radius: 20px 20px 0px 0px;
    background: black;

    width: 100vw;
    bottom: 0;
    padding: 3px;
    z-index: 2;
}

.perfil{
    width: 10%;
    padding: 2px;
    text-align: center;
}

.perfil > h1{
    font-size: 18px;
    display: none;
}

.btn-perfil{
    width: 50px;
    height: 50px;
    border-radius: 45px;
    border: none;
    outline: none;
    cursor: pointer;
    background: url(../imagens/user-padrao.jpeg);
    background-position: center center;
    background-size: cover;
}

nav{
    display: flex;
    width: 80%;
    height: 50px;
    justify-content: center;
    align-items: center;
    background: transparent;
    backdrop-filter: blur(20);
    
}

nav > ul{
    display: flex;
    list-style: none;
    gap: 25px;
}

nav > ul i{
    font-size: 30px;
    cursor: pointer;
    color: white;
    background: transparent;
}

nav > ul i:hover{
    transition: all 0.3s ease-in-out;
    transform: scale(1.2);
}

.container-textsUsers{
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    margin: 5px;
    width: 100vw;
    height: 100vh;
    padding: 5px;
    gap: 5px;
    overflow-y: auto;
}

.container-textsUsers button{
    position: absolute;
    border: none;
    background: transparent;
    cursor: pointer;
}

.container-textsUsers > button i{
    font-size: 35px;
}

.btnTop, .createbtn{
    right: 0;
    bottom: 0;
}

.btnTop{
    display: none;
    margin-bottom: 110px;
    margin-right: 5px;

}

.createbtn{
    position: fixed;
    margin-bottom: 60px;
    margin-right: 8px;
}

.container-userText{
    border: 2px solid aquamarine;
    display: block;
}

.container-userText button{
    position: relative;
    border: 1px solid black;
    border-radius: 45px;
    padding: 5px;
}

.container-userText .userText{
    width: 100%;
    height: 100px;
    resize: vertical; /* permite ajustar verticalmente */
    white-space: pre-wrape; /* Mantém quebra de linha */
}