@import 'normalaizer.css';


.conteiner-navbar{
    display: flex;
    position: fixed;
    align-items: center;
    border-radius: 20px 20px 0px 0px;
    background: black;

    width: 100vw;
    bottom: 0;
    padding: 3px;
    z-index: 2;
}

.perfil{
    width: 10%;
    padding: 2px;
    text-align: center;
}

.perfil > h1{
    font-size: 18px;
    display: none;
}

.log-out {
    display: none;
}

.btn-perfil{
    width: 50px;
    height: 50px;
    border-radius: 45px;
    border: none;
    outline: none;
    cursor: pointer;
    background: url(../imagens/user-padrao.jpeg);
    background-position: center center;
    background-size: cover;
}

nav{
    display: flex;
    width: 80%;
    height: 50px;
    justify-content: center;
    align-items: center;
    background: transparent;
    backdrop-filter: blur(20);
    gap: 25px;
}

.iten{
    color: white;
}

.iten i{
    font-size: 30px;
    cursor: pointer;
}

.iten:hover i{
    transform: scale(1.2);
    transition: 0.3s;
}

.iten h3{
    display: none;
}

.iten .active{
    color: red;
    border-bottom: 2px solid white;
}

.container-textsUsers{
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    margin: 5px;
    width: 100vw;
    height: 93vh;
    padding: 5px;
    gap: 5px;
    overflow-y: auto;
}

.container-textsUsers button{
    position: absolute;
    border: none;
    background: transparent;
    cursor: pointer;
}

.container-textsUsers > button i{
    font-size: 35px;
}

.btnTop, .createbtn{
    position: absolute;
    right: 0;
    bottom: 0;
}

.btnTop{
    display: none;
    margin-bottom: 110px;
    margin-right: 5px;

}

.createbtn{
    position: fixed;
    margin-bottom: 60px;
    margin-right: 8px;
}

textarea{
    resize: none;
    outline: none;
    padding: 2px;
    border: none;
    border-bottom: 1px solid;
    margin-bottom: 3px;
}

.container-userText{
    display: block;
}

.container-userText button{
    position: relative;
    border: 1px solid black;
    border-radius: 45px;
    padding: 5px;
}

.container-userText .userText{
    width: 100%;
    height: auto;
    white-space: pre-wrape; /* Mantém quebra de linha */
}

.post{
    border-bottom: 1px solid rgb(133, 133, 133);
    margin: 10px 0 10px 0;
}